<!DOCTYPE html>
<html>

<head>
  <meta charset="utf8">
  <title>{{pageTitle}}</title>
</head>

<body>
  {{> header}}
  <p>This is a handlebars template html page served by node</p>
  {{> footer}}

</html>